.header {
  margin: auto;
  border: 1px solid black;
}
.header .navButton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.header .menu {
  width: 80%;
  margin: auto;
  height: 60px;
  position: relative;
  display: inline-block;
  border: 1px solid #f59c9c;
  /* 		&:hover .menu__list{
  			display: block;
  		} */
}
.header .menu__list {
  display: flex;
  visibility: hidden;
  /* position: absolute;
  top: 100%;
  left: 50%; */
  list-style-type: none;
}
.header .menu__list__item {
  margin: 0 10px;
}
.header .menu__list__item a {
  text-decoration: none;
}
.header .menu .open {
  visibility: visible;
}
