$height: 100px;
$background: rgb(252, 210, 74);
$hoverColor: rgb(226, 181, 82);
$textColor: rgb(82, 82, 82);

.header {
	background: $background;	
	display: flex;
	height: $height;
	margin: auto;
	.navButton {
		color: $textColor;
		background: $background;
		width: 200px;
		height: 100%;
		cursor: pointer;
		outline: none;
		border: none;
		font-size: 2em;
		&:hover {
			background: $hoverColor;
		}
	}
	.menu {
		background: $background;
		transform: scaleX(0);
		transform-origin: left;
		transition: .5s;
		height: 100%;
		font-size: 1.5em;
		&__list {
			display: flex;
			flex: auto;
			align-items: stretch;
			height: 100%;
			justify-content: space-evenly;
			justify-content: stretch;
			list-style-type: none;
			&__item {
				a {
					color: $textColor;
					display: flex;
					height: 100%;
					align-items: center;
					text-decoration: none;
					padding: 0 50px;
					&:hover, &.active {
						background: $hoverColor;
					}
				}
			}
		}
	}
	.open {
		transform: scaleX(1);
	}
}