.repos__list {
  list-style-type: none;
  margin-left: 20px;
}
.repos__list a {
  color: #525252;
  text-decoration: none;
}
.repos__list a:hover {
  color: #ec9a00;
}

.spinner {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-top: 10px solid rgba(0, 63, 236, 0.7);
  border-right: 10px solid rgba(0, 236, 51, 0.7);
  border-bottom: 10px solid rgba(255, 251, 13, 0.7);
  border-left: 10px solid rgba(255, 13, 13, 0.7);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(720deg);
  }
}
